{{#if achivement.isCertficate}}
    <a href={{achivement.url}} rel="noopener" target="_blank">
        •
        {{achivement.name}}
    </a>
{{else}}
    <p>
        •
        {{achivement.name}}
    </p>
{{/if}}