<div class="container" local-class="large-container">
    <div class="row">
        <div class="col-lg-6 my-4">
            <div local-class="recent-activities" class="card">
                <div class="card-header text-center">
                    <h1 class="pt-2">
                        Experience
                    </h1>
                </div>
                <div class="card-body" data-test-experiences>
                    {{#each experiences as |experience|}}
                        {{experience-row experience=experience}}
                    {{/each}}
                </div>
                <div class="text-center my-4">
                    <a
                        class="btn btn-outline-dark btn-lg"
                        href="./files/Nathan_Patnam_Resume_SWE_Word.pdf"
                        role="button"
                        rel="noopener"
                        target="_blank"
                    >
                        View and Download Resume
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-4">
            <div local-class="recent-activities" class="card">
                <div class="card-header text-center">
                    <h1 class="pt-2">
                        Education
                    </h1>
                </div>
                <div class="card-body no-padding">
                    {{#each educations as |education|}}
                        {{experience-row experience=education}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>