<div data-test-footer-icons local-class="footer-icons" class="text-center">
    {{#each mediaLinks as |media|}}
        <a
            href={{media.linkToResource}}
            class="mr-3"
            rel="noopener"
            target="_blank"
        >
            {{svg-jar
                media.logoFilePath
                width='50px'
                height='50px'
                local-class='svg'
            }}
        </a>
    {{/each}}
    <div class="text-center pl-1 mt-n3">
        <small>
            Icons & Images brought to you by
            <a
                href="https://www.flaticon.com"
                class="mx-1"
                rel="noopener"
                target="_blank"
            >
                {{svg-jar
                    'freepik-logo'
                    width='50px'
                    height='50px'
                    local-class='svg'
                }}
            </a>
            +
            <a
                href="https://www.flaticon.com"
                class="ml-1"
                rel="noopener"
                target="_blank"
            >
                {{svg-jar
                    'flaticon-logo'
                    width='80px'
                    height='80px'
                    local-class='svg'
                }}
            </a>
        </small>
    </div>
</div>