<div data-test-footer-icons local-class="footer-icons" class="text-center">
    <div class="row text-center">
        >
        <div class="col-xl-4 col-sm-0"></div>
        <div class="col-xl-4 col-sm-12 tex-center">
            {{#each mediaLinks as |media|}}
                <a
                    href={{media.linkToResource}}
                    class="mx-2"
                    rel="noopener"
                    target="_blank"
                >
                    {{svg-jar
                        media.logoFilePath
                        width='50px'
                        height='50px'
                        local-class='svg'
                    }}
                </a>
            {{/each}}
        </div>
        <div class="col-xl-4 col-sm-0"></div>
    </div>
    <div class="text-center pl-1 mt-n3">
        <small>
            Icons & Images from
            <a
                href="https://www.flaticon.com"
                class="mx-1"
                rel="noopener"
                target="_blank"
            >
                {{svg-jar
                    'freepik-logo'
                    width='50px'
                    height='50px'
                    local-class='svg'
                }}
            </a>
            +
            <a
                href="https://www.flaticon.com"
                class="ml-1"
                rel="noopener"
                target="_blank"
            >
                {{svg-jar
                    'flaticon-logo'
                    width='80px'
                    height='80px'
                    local-class='svg'
                }}
            </a>
        </small>
    </div>
</div>