<div local-class="footer-container">
    <div class="text-center">
        <h1>
            Contact Information & Platforms I'm On
        </h1>
    </div>
    <div data-test-footer local-class="footer-icons" class="text-center">
        {{#each mediaLinks as |media|}}
            {{footer-icon
                resourceLink=media.linkToResource
                logoPath=media.logoFilePath
            }}
        {{/each}}
    </div>
    <small class="text-left pl-1 mt-n4">
        Icons & Images brought to you by
        <a
            href="https://www.flaticon.com"
            class="mx-1"
            rel="noopener"
            target="_blank"
        >
            {{svg-jar
                'freepik-logo'
                width='35px'
                height='35px'
                local-class='svg'
            }}
        </a>
        +
        <a
            href="https://www.flaticon.com"
            class="ml-1"
            rel="noopener"
            target="_blank"
        >
            {{svg-jar
                'flaticon-logo'
                width='80px'
                height='80px'
                local-class='svg'
            }}
        </a>
    </small>
</div>