<div class="navbar fixed-bottom row" local-class="sticky-container">
    <div class="col-2" local-class="icon-description">
        <a href="/">
            <div>
                {{svg-jar
                    'mobile-about-me'
                    width='25px'
                    height='25px'
                    local-class='svg'
                }}
            </div>
            <div>
                About
            </div>
        </a>
    </div>
    <div class="col-2">
        <a href="experience">
            <div>
                {{svg-jar
                    'mobile-work'
                    width='25px'
                    height='25px'
                    local-class='svg'
                }}
            </div>
            <div>
                Experience
            </div>
        </a>
    </div>
    <div class="col-2">
        <a href="services">
            <div>
                {{svg-jar
                    'mobile-services'
                    width='25px'
                    height='25px'
                    local-class='svg'
                }}
            </div>
            <div>
                Services
            </div>
        </a>
    </div>
    <div class="col-2">
        <a href="projects">
            <div>
                {{svg-jar
                    'mobile-projects'
                    width='25px'
                    height='25px'
                    local-class='svg'
                }}
            </div>
            <div>
                Projects
            </div>
        </a>
    </div>
</div>