<div class="col-2" local-class="icon-description">
    {{#link-to icon.route}}
        <div>
            {{svg-jar icon.iconFilePath width='30px' height='30px'}}
        </div>
        <div>
            {{icon.iconName}}
        </div>
    {{/link-to}}
</div>