<div class="navbar fixed-bottom" local-class="sticky-container">
    <div>
        Home
    </div>
    <div>
        Experience
    </div>
    <div>
        Services
    </div>
    <div>
        Projects
    </div>
</div>