<div class="h4 flex white pt4 f2" style="background-color: #22362A; font-family: 'Nunito Sans', sans-serif;" data-test-nav-bar> 
    <div class="flex-1 tr">ABOUT ME</div>
    <div class="flex-1 tc">EXPERIENCE</div>
    <div class="flex-1 tc"> Logo Placeholder</div>
    <div class="flex-1 tc">SERVICES</div>
    <div class="flex-1">PROJECTS</div>
</div>