<div local-class="nav-bar-container">
    <div local-class="nav-bar" data-test-nav-bar>
        <div local-class="heading">ABOUT ME</div>
        <div local-class="heading">EXPERIENCE</div>
        <div local-class="heading">
            <img src="./img/logo.png" alt="Italian Trulli" local-class="logo-heading">
        </div>
        <div local-class="heading">SERVICES</div>
        <div local-class="heading">PROJECTS</div>
    </div>
</div>