<div class="h3 flex white" style="background-color: #22362A"> 
    <div class="flex-1">About Me</div>
    <div class="flex-1">Experience</div>
    <div class="flex-1"> Logo Placeholder</div>
    <div class="flex-1">Services</div>
    <div class="flex-1">Projects</div>
</div>