<div class="nav-bar-container">
    <div class="flex f2 nav-bar" data-test-nav-bar>
        <div class="heading">ABOUT ME</div>
        <div class="heading">EXPERIENCE</div>
        <div class="heading">
            <img src="./img/logo.png" alt="Italian Trulli" class="logo-heading">
        </div>
        <div class="heading">SERVICES</div>
        <div class="heading">PROJECTS</div>
    </div>
</div>