<div class="h5 flex white pt4 f2" style="background-color:black; font-family: 'Nunito Sans', sans-serif;"
    data-test-nav-bar>
    <div class="flex-1 fw6 tr nav-bar-heading">ABOUT ME</div>
    <div class="flex-1 fw6 tc nav-bar-heading">EXPERIENCE</div>
    <div class="flex-1 fw6 tc nav-bar-heading"> <img src="./img/logo.png" alt="Italian Trulli" class="logo-heading">
    </div>
    <div class="flex-1 fw6 tc nav-bar-heading">SERVICES</div>
    <div class="flex-1 fw6 nav-bar-heading">PROJECTS</div>
</div>