<div local-class="nav-bar-container">
    <div local-class="nav-bar" data-test-nav-bar>
        <div local-class="heading" data-test-about-me-heading>
            {{#link-to "about-me" tagName="span"}}ABOUT ME{{/link-to}}
        </div>
        <div local-class="heading" data-test-experience-heading>
            {{#link-to "experience" tagName="span"}}EXPERIENCE{{/link-to}}
        </div>
        <div local-class="heading">
            <img src="./img/logo.png" alt="Italian Trulli" local-class="logo-heading">
        </div>
        <div local-class="heading" data-test-services-heading>
            {{#link-to "services" tagName="span"}}SERVICES{{/link-to}}
        </div>
        <div local-class="heading">PROJECTS</div>
    </div>
</div>