<h1>
    Testiominals
</h1>
<div class="row">
    {{#each pagedContent as |review|}}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div>
                            {{review.name}}
                        </div>
                        {{review.review}}
                        <a
                            class="float-right btn btn-outline-primary ml-2"
                            href={{review.viewLink}}
                            rel="noopener"
                            target="_blank"
                        >
                            <i class="fa fa-reply"></i>
                            Read Full Review
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    <button type="button" class="btn btn-secondary" {{action 'loadNext'}}>
        View More Reviews
    </button>
</div>