.nav-bar {
  background-color: #22362a;
  font-family: "Nunito Sans", sans-serif;
  height: 80px;
}

.nav-bar-heading {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-bar-heading:hover {
  color: #ffd450;
  cursor: pointer;
}

.logo-heading {
  height: 100%;
}
