/* set the overriding variables */
$grid-breakpoints: (
    xxxs: 0,
    xxs: 320px,
    xs: 375px,
    sm: 425px,
    md: 768px,
    lg: 1024px,
    xl: 1440px,
    xxl: 2560px
);
$container-max-widths: (
    xxs: 320px,
    xs: 375px,
    sm: 425px,
    md: 768px,
    lg: 1024px,
    xl: 1440px,
    xxl: 2560px
);

@import 'ember-bootstrap/bootstrap';
h1 {
    font-family: 'Halant', serif;
    font-size: 50px;
}
p {
    font-family: 'Nunito Sans', sans-serif;
}
@media (min-width: 320px) {
    p {
        font-size: 0.8rem;
    }
}
@media (min-width: 481px) {
    p {
        font-size: 1rem;
    }
}

@media (min-width: 1201px) {
    p {
        font-size: 1.1rem;
    }
}
:global(.ember-view) {
    overflow-x: hidden;
}

:global(.jumbotron) {
    margin-bottom: 0;
}

:global(.nav-link.active) {
    color: #ffd450 !important;
}
