.education-experience {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
}

.education-experience .experience-container {
    flex: 3;
}

.education-experience .education-container {
    flex: 2;
}
.experience-card {
    margin: 15px 0;
}

.date-company-title {
    display: flex;
    font-weight: 700;
    font-size: 20px;
}
.date-company-title .date {
    flex: 2;
}

.date-company-title .company-title {
    flex: 8;
}
.logo-description {
    display: flex;
}

.logo {
    flex: 2;
}
.logo-image {
    position: relative;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    flex: 8;
    padding: 5px 20px;
    font-size: 14px;
}
