.education-experience {
  display: flex;
  font-family: "Nunito Sans", sans-serif;
}

.education-experience .experience-container {
  flex: 3;
}

.education-experience .education-container {
  flex: 2;
}

.date-company-title {
  display: flex;
}
.date-company-title .date {
  flex: 1;
}

.date-company-title .company-title {
  flex: 8;
}
.logo-description {
  display: flex;
}

.logo {
  flex: 1;
}
.logo-image {
}

.description {
  flex: 8;
}
