body {
    margin-top: 20px;
    background: #eee;
}

.recent-activities {
    .item {
        padding: 0 15px;
        border-bottom: 1px solid #eee;
    }
    .item div[class*='col-'] {
        padding: 15px;
    }

    p {
        color: #999;
    }
}

.company-heading {
    margin: 0;
    font-weight: 400;
    color: #333;
}

@media screen and (min-width: 1480px) {
    .large-container {
        max-width: 1880px;
    }
}
