.item {
    border-bottom: 1px solid #eee;

    .img-and-company-info {
        margin: 0;
        padding: 0;

        .card-image-info-container {
            padding: 0 !important;

            @media (min-width: 2560px) {
                text-align: right;
                margin-right: 2rem;
            }

            @media (max-width: 768px) {
                text-align: center;
            }
        }

        .company-heading {
            margin: 0;
            font-size: 32px;
            font-weight: 600;
            color: #333;
            font-family: 'Halant', serif;
        }

        .company-title {
            color: grey;
            font-size: 22px;
            font-family: 'Nunito Sans', sans-serif;
        }
        .company-date-location {
            color: darkblue;
            font-weight: 17px;
        }
        .achievement {
            font-family: 'Nunito Sans', sans-serif;
        }
    }
}
