.sticky-container {
    background-color: #a8a3a4;

    font-family: 'Nunito Sans', sans-serif;

    div {
        padding: 0;
        text-align: center;
        .icon-title {
            font-size: 12px;
        }

        color: grey;
        &:hover {
            color: #22362a !important;
        }

        a:link {
            text-decoration: none;
        }
    }
}
