<div>
    <div>
        <span>Experience</span>
        <div>
            Job 1
        </div>
        <div>
            Job 2
        </div>
        <div>
            Job 3
        </div>
        <div>
            Job 4
        </div>
    </div>
    <div>
        <span>Education</span>
        <div>
            Education 1
        </div>
    </div>
</div>