<div local-class="education-experience">
    <div local-class="experience-container">
        <span>Experience</span>
        <div>
            <div local-class="date-company-title">
                <div local-class="date">
                    Summer 2019
                </div>
                <div local-class="company-title">
                    Heroku Full-Stack Software Engineer Intern
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img local-class="logo-image"
                        src="https://res.cloudinary.com/practicaldev/image/fetch/s--K2q0A5SX--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/2elgd5zp07wkeilkna63.png"
                        alt="Heroku logo">

                </div>
                <div local-class="description">
                    <p>
                        - Working on Heroku's Dashboard team where I am learning Ember, GraphQL, Purple3 (CSS library),
                        Heroku, Mirage, and QUnit to build a web-service to triage issues across all of Heroku’s 3400+
                        open source &amp; private GitHub repositories into Salesforce’s Grand Unified System (GUS).
                    </p>
                    <p>
                        - Tool is expected to help save software engineering managers’ and executives’ time by giving
                        clear visibility of ongoing development work. Will be piloted internally at Heroku in hopes of
                        being adopted and used by all of Salesforce.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div local-class="date-company-title">
                <div local-class="date">
                    Fall 2018
                </div>
                <div local-class="company-title">
                    Honda R &amp; D Americas inc Full-Stack Mobile Software Engineer Intern
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img local-class="logo-image" src="http://utsaves.org/content/Honda-RD-America-Logo.jpg"
                        alt="Honda logo">

                </div>
                <div local-class="description">
                    <p>
                        - Learned React Native, Redux, AWS Lambda, and Firebase to create Android and iOS apps to
                        prototype new driving
                        experiences to save our customers time and/or money.
                    </p>
                    <p>
                        - Increase app’s scalability and security by using Firebase’s token authentication and Realtime
                        Database.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div local-class="date-company-title">
                <div local-class="date">
                    Summer 2018
                </div>
                <div local-class="company-title">
                    Microsoft Data Science Intern
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img local-class="logo-image"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/1024px-Microsoft_logo.svg.png"
                        alt="Microsoft logo">

                </div>
                <div local-class="description">
                    <p>
                        - Learned an internal query language called SCOPE to parse through 100’s of petabytes of daily
                        telemetry data to identify trends in user interaction with the Windows settings app on
                        Microsoft’s
                        Big Data System called COSMOS.
                    </p>
                    <p>
                        - Learned Power BI to visualize queried results to find trends and patterns in usage-based off
                        of
                        demographic factors.
                    </p>
                    <p>
                        - From trends, used AzureML to mine association-rules to infer what setting a user wants to
                        change
                        from past behavior.
                    </p>
                    <p>
                        - Created a C# application utilizing the association-rule based ML model to recommend to users,
                        settings to change based off of prior user activity, and uses Cortana Show Me to provide a
                        tutorial
                        about the recommended setting.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div local-class="date-company-title">
                <div local-class="date">
                    Summer 2017
                </div>
                <div local-class="company-title">
                    UnitedHealth Group Full-Stack Software Engineer Intern
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img local-class="logo-image"
                        src="https://optumrx.akamaized.net/content/dam/rxmember/app/images/logo--optumrx.png"
                        alt="UnitedHealth Group logo">

                </div>
                <div local-class="description">
                    <p>
                        - Redesigned the intern hiring process for software engineering managers by creating a web
                        service that saves ~ 350 hours of manager time (est. $13,000 annually) for the Schaumburg, Ill.
                        office.
                    </p>
                    <p>
                        - Led an Agile team of 5 interns to create 4 SharePoint pages using JS/HTML/CSS/BootStrap,
                        SPServices, and REST.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div local-class="education-container">
        <span>Education</span>
        <div>
            Education 1
        </div>
    </div>
</div>