<div local-class="education-experience">
    <div local-class="experience-container">
        <span>Experience</span>
        <div>
            <div local-class="date-company-title">
                <div local-class="date">
                    Summer 2019
                </div>
                <div local-class="company-title">
                    Heroku Full-Stack Software Engineer Intern
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img local-class="logo-image"
                        src="https://res.cloudinary.com/practicaldev/image/fetch/s--K2q0A5SX--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/2elgd5zp07wkeilkna63.png"
                        alt="Heroku logo">

                </div>
                <div local-class="description">
                    <p>
                        - Working on Heroku's Dashboard team where I am learning Ember, GraphQL, Purple3 (CSS library),
                        Heroku, Mirage, and QUnit to build a web-service to triage issues across all of Heroku’s 3400+
                        open source &amp; private GitHub repositories into Salesforce’s Grand Unified System (GUS).
                    </p>
                    <p>
                        - Tool is expected to help save software engineering managers’ and executives’ time by giving
                        clear visibility of ongoing development work. Will be piloted internally at Heroku in hopes of
                        being adopted and used by all of Salesforce.
                    </p>
                </div>
            </div>
        </div>
        <div>
            Job 2
        </div>
        <div>
            Job 3
        </div>
        <div>
            Job 4
        </div>
    </div>
    <div local-class="education-container">
        <span>Education</span>
        <div>
            Education 1
        </div>
    </div>
</div>