<div class="container">
    <div class="page-header">
        <h1 id="timeline">
            Experience & Education
        </h1>
    </div>
    <ul local-class="timeline">
        <li>
            <div local-class="timeline-badge">
                <i class="glyphicon glyphicon-check"></i>
            </div>
            <div local-class="timeline-panel">
                <div local-class="timeline-heading">
                    <h4 local-class="timeline-title">
                        Mussum ipsum cacilds
                    </h4>
                    <p>
                        <small class="text-muted">
                            <i class="glyphicon glyphicon-time"></i>
                            11 hours ago via
                            Twitter
                        </small>
                    </p>
                </div>
                <div local-class="timeline-body">
                    <p>
                        Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.
                        Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce
                        receita de bolis, mais bolis eu num gostis.
                    </p>
                </div>
            </div>
        </li>
        <li local-class="timeline-inverted">
            <div local-class="timeline-badge warning">
                <i class="glyphicon glyphicon-credit-card"></i>
            </div>
            <div local-class="timeline-panel">
                <div local-class="timeline-heading">
                    <h4 local-class="timeline-title">
                        Mussum ipsum cacilds
                    </h4>
                </div>
                <div local-class="timeline-body">
                    <p>
                        Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.
                        Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce
                        receita de bolis, mais bolis eu num gostis.
                    </p>
                    <p>
                        Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé,
                        cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a,
                        posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper.
                        Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque
                        laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div local-class="timeline-badge danger">
                <i class="glyphicon glyphicon-credit-card"></i>
            </div>
            <div local-class="timeline-panel">
                <div local-class="timeline-heading">
                    <h4 local-class="timeline-title">
                        Mussum ipsum cacilds
                    </h4>
                </div>
                <div local-class="timeline-body">
                    <p>
                        Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.
                        Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce
                        receita de bolis, mais bolis eu num gostis.
                    </p>
                </div>
            </div>
        </li>
        <li local-class="timeline-inverted">
            <div local-class="timeline-panel">
                <div local-class="timeline-heading">
                    <h4 local-class="timeline-title">
                        Mussum ipsum cacilds
                    </h4>
                </div>
                <div local-class="timeline-body">
                    <p>
                        Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.
                        Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce
                        receita de bolis, mais bolis eu num gostis.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div local-class="timeline-badge info">
                <i class="glyphicon glyphicon-floppy-disk"></i>
            </div>
            <div local-class="timeline-panel">
                <div local-class="timeline-heading">
                    <h4 local-class="timeline-title">
                        Mussum ipsum cacilds
                    </h4>
                </div>
                <div class="timeline-body">
                    <p>
                        Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.
                        Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce
                        receita de bolis, mais bolis eu num gostis.
                    </p>
                    <hr />
                    <div local-class="btn-group">
                        <button
                            type="button"
                            class="btn btn-primary btn-sm dropdown-toggle"
                            data-toggle="dropdown"
                        >
                            <i class="glyphicon glyphicon-cog"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    Action
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Another action
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Something else here
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    Separated link
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div local-class="timeline-panel">
                <div local-class="timeline-heading">
                    <h4 local-class="timeline-title">
                        Mussum ipsum cacilds
                    </h4>
                </div>
                <div clalocal-classs="timeline-body">
                    <p>
                        Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.
                        Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce
                        receita de bolis, mais bolis eu num gostis.
                    </p>
                </div>
            </div>
        </li>
        <li local-class="timeline-inverted">
            <div local-class="timeline-badge success">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </div>
            <div local-class="timeline-panel">
                <div local-class="timeline-heading">
                    <h4 local-class="timeline-title">
                        Mussum ipsum cacilds
                    </h4>
                </div>
                <div local-class="timeline-body">
                    <p>
                        Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                        porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                        vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.
                        Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce
                        receita de bolis, mais bolis eu num gostis.
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
{{! <div local-class="education-experience">
    <div local-class="experience-container">
        <span>
            Experience
        </span>
        <div local-class="experience-card">
            <div local-class="date-company-title">
                <div local-class="date">
                    Summer 2019
                </div>
                <div local-class="company-title">
                    Heroku Full-Stack Software Engineer Intern
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img
                        local-class="logo-image"
                        src="./img/logos/heroku.png"
                        alt="Heroku logo"
                     />

                </div>
                <div local-class="description">
                    <p>
                        - Working on Heroku's Dashboard team where I am learning Ember, GraphQL, Purple3 (CSS library),
                        Heroku, Mirage, and QUnit to build a web-service to triage issues across all of Heroku’s 3400+
                        open source & private GitHub repositories into Salesforce’s Grand Unified System (GUS).
                    </p>
                    <p>
                        - Tool is expected to help save software engineering managers’ and executives’ time by giving
                        clear visibility of ongoing development work. Will be piloted internally at Heroku in hopes of
                        being adopted and used by all of Salesforce.
                    </p>
                </div>
            </div>
        </div>
        <div local-class="experience-card">
            <div local-class="date-company-title">
                <div local-class="date">
                    March 2018 - Ongoing
                </div>
                <div local-class="company-title">
                    Programming Tutor @ Wyzant
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img
                        local-class="logo-image"
                        src="./img/logos/wyzant.png"
                        alt="Heroku logo"
                     />

                </div>
                <div local-class="description">
                    <p>
                        - Tutor 23 people online for 85 total hours. Covered topics such as TDD, APIs, OOP, SOLID
                        principles, and unit testing.
                    </p>
                    <p>
                        - Profile can be viewed at https://www.wyzant.com/Tutors/TutoringByNathan8
                    </p>
                </div>
            </div>
        </div>
        <div local-class="experience-card">
            <div local-class="date-company-title">
                <div local-class="date">
                    Fall 2018
                </div>
                <div local-class="company-title">
                    Honda R & D Americas inc Full-Stack Mobile Software Engineer Intern
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img
                        local-class="logo-image"
                        src="./img/logos/honda.png"
                        alt="Honda logo"
                     />

                </div>
                <div local-class="description">
                    <p>
                        - Learned React Native, Redux, AWS Lambda, and Firebase to create Android and iOS apps to
                        prototype new driving
                        experiences to save our customers time and/or money.
                    </p>
                    <p>
                        - Increase app’s scalability and security by using Firebase’s token authentication and Realtime
                        Database.
                    </p>
                </div>
            </div>
        </div>
        <div local-class="experience-card">
            <div local-class="date-company-title">
                <div local-class="date">
                    Summer 2018
                </div>
                <div local-class="company-title">
                    Microsoft Data Science Intern
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img
                        local-class="logo-image"
                        src="./img/logos/microsoft.png"
                        alt="Microsoft logo"
                     />

                </div>
                <div local-class="description">
                    <p>
                        - Learned an internal query language called SCOPE to parse through 100’s of petabytes of daily
                        telemetry data to identify trends in user interaction with the Windows settings app on
                        Microsoft’s
                        Big Data System called COSMOS.
                    </p>
                    <p>
                        - Learned Power BI to visualize queried results to find trends and patterns in usage-based off
                        of
                        demographic factors.
                    </p>
                    <p>
                        - From trends, used AzureML to mine association-rules to infer what setting a user wants to
                        change
                        from past behavior.
                    </p>
                    <p>
                        - Created a C# application utilizing the association-rule based ML model to recommend to users,
                        settings to change based off of prior user activity, and uses Cortana Show Me to provide a
                        tutorial
                        about the recommended setting.
                    </p>
                </div>
            </div>
        </div>
        <div local-class="experience-card">
            <div local-class="date-company-title">
                <div local-class="date">
                    Summer 2017
                </div>
                <div local-class="company-title">
                    UnitedHealth Group Full-Stack Software Engineer Intern
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img
                        local-class="logo-image"
                        src="./img/logos/optum.png"
                        alt="UnitedHealth Group logo"
                     />

                </div>
                <div local-class="description">
                    <p>
                        - Redesigned the intern hiring process for software engineering managers by creating a web
                        service that saves ~ 350 hours of manager time (est. $13,000 annually) for the Schaumburg, Ill.
                        office.
                    </p>
                    <p>
                        - Led an Agile team of 5 interns to create 4 SharePoint pages using JS/HTML/CSS/BootStrap,
                        SPServices, and REST.
                    </p>
                </div>
            </div>
        </div>
        <div local-class="experience-card">
            <div local-class="date-company-title">
                <div local-class="date">
                    January - September 2017
                </div>
                <div local-class="company-title">
                    .NET Developer @ Wofford College
                </div>
            </div>
            <div local-class="logo-description">
                <div local-class="logo">
                    <img
                        local-class="logo-image"
                        src="./img/logos/wofford.png"
                        alt="UnitedHealth Group logo"
                     />

                </div>
                <div local-class="description">
                    <p>
                        - Developed 5 web forms in .NET using HTML, CSS, JavaScript, jQuery, Git, VB, and MySQL using
                        Microsoft SQL server.
                        Increased branch coverage with better unit tests. Used Ektron, a CMS, to make updates on
                        Wofford’s websites.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div local-class="education-container">
        <span>
            Education
        </span>
        <div>
            Education 1
        </div>
    </div>
</div> }}