<div local-class="education-experience">
    <div local-class="experience-container">
        <span>Experience</span>
        <div>
            Job 1
        </div>
        <div>
            Job 2
        </div>
        <div>
            Job 3
        </div>
        <div>
            Job 4
        </div>
    </div>
    <div local-class="education-container">
        <span>Education</span>
        <div>
            Education 1
        </div>
    </div>
</div>