<section local-class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xl-5 order-2 order-md-1">
                <div local-class="hero-content">
                    <h1>
                        Nathan Patnam
                    </h1>
                    <p>
                        Thank you for visiting Nathan Patnam's Portfolio. I am a full-stack developer and undergraduate student at Wofford College
                    </p>
                    <div local-class="hero-btn">
                        <a href="#" class="btn btn-hero">
                            Learn More About Me
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-7 order-1 order-md-2">
                <div>
                    <img
                        local-class="shape"
                        src="https://miro.medium.com/max/3150/1*Owq3YkR3eOBPcNM_scrTKQ@2x.jpeg"
                        alt=""
                     />

                </div>
            </div>
        </div>
    </div>
</section>
<section local-class="client-section">
    <div class="container">
        <div local-class="client-title">
            <h2>
                Where I have been before
            </h2>
        </div>
        <div local-class="client-brand-wrapper">
            <div local-class="single-brand">
                <img
                    local-class="honda"
                    src="./img/clients/honda.png"
                    alt="Honda logo"
                 />

            </div>
            <div local-class="single-brand">
                <img
                    local-class="heroku"
                    src="./img/clients/heroku.png"
                    alt="Heroku Logo"
                 />

            </div>
            <div local-class="single-brand">
                <img
                    local-class="microsoft"
                    src="./img/clients/microsoft.png"
                    alt="Microsoft Logo"
                 />

            </div>
            <div local-class="single-brand">
                <img
                    local-class="unitedhealth-group"
                    src="./img/clients/unitedhealth-group.png"
                    alt="UnitedHealth Group Logo"
                 />

            </div>
        </div>
    </div>
</section>