<section local-class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xl-5 order-2 order-md-1">
                <div local-class="hero-content">
                    <h1>
                        Nathan Patnam
                    </h1>
                    <p>
                        Thank you for visiting Nathan Patnam's Portfolio. I am a full-stack developer and undergraduate student at Wofford College
                    </p>
                    <div local-class="hero-btn">
                        <a href="#" class="btn btn-hero">
                            Learn More About Me
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-7 order-1 order-md-2">
                <div local-class="hero-image shape">
                    <img
                        src="https://miro.medium.com/max/3150/1*Owq3YkR3eOBPcNM_scrTKQ@2x.jpeg"
                        alt=""
                     />

                </div>
            </div>
        </div>
    </div>
</section>
<section local-class="client-section">
    <div class="container">
        <div local-class="client-title">
            <h2>
                Where I have been before
            </h2>
        </div>
        <div local-class="client-brand-wrapper">
            <div local-class="single-brand">
                {{svg-jar 'heroku' width='100px' height='100px'}}
            </div>
            <div local-class="single-brand">
                {{svg-jar 'honda' width='100px' height='100px'}}
            </div>
            <div local-class="single-brand">
                {{svg-jar 'microsoft' width='100px' height='100px'}}
            </div>
            <div local-class="single-brand">
                {{svg-jar 'unitedhealth-group' width='100px' height='100px'}}
            </div>
        </div>
    </div>
</section>