<section local-class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xl-5 order-2 order-md-1">
                <div local-class="hero-content">
                    <h1>
                        Welcome To My Portfolio
                    </h1>
                    <p>
                        I'm an experienced full-stack developer and an undergraduate student at Wofford College.
                    </p>
                    <div local-class="hero-btn">
                        <a
                            href="#about-me-section"
                            class="btn"
                            local-class="btn-hero"
                        >
                            More About Me
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-7 order-1 order-md-2">
                <div>
                    <img
                        local-class="shape"
                        src="./img/suit-portrait.jpg"
                        alt="Nathan Patnam in a grey suit"
                     />

                </div>
            </div>
        </div>
    </div>
</section>
<section local-class="client-section">
    <div class="container">
        <div local-class="client-title">
            <h2>
                My Previous Employers
            </h2>
        </div>
        <div local-class="client-brand-wrapper">
            <div local-class="single-brand">
                <img
                    local-class="honda"
                    src="./img/clients/honda.png"
                    alt="Honda logo"
                 />

            </div>
            <div local-class="single-brand">
                <img
                    local-class="heroku"
                    src="./img/clients/heroku.png"
                    alt="Heroku Logo"
                 />

            </div>
            <div local-class="single-brand">
                <img
                    local-class="microsoft"
                    src="./img/clients/microsoft.png"
                    alt="Microsoft Logo"
                 />

            </div>
            <div local-class="single-brand">
                <img
                    local-class="unitedhealth-group"
                    src="./img/clients/unitedhealth-group.png"
                    alt="UnitedHealth Group Logo"
                 />

            </div>
        </div>
    </div>
</section>
<section local-class="about-section-02" id="about-me-section">
    <div class="container mb-3">
        <h1 class="text-center my-4">
            A Little Bit About Me
        </h1>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-xl-5">
                <div local-class="about-image-left">
                    <img src="./img/hiking.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-xl-6 offset-xl-1">
                <div local-class="about-right-content">
                    <p>
                        I originally came into college thinking that I wanted to be a doctor like my father. During my internship at
                        UnitedHealth Group, I realized I could make an impact on people's lives without having to be a doctor. Once I finished
                        that internship, I dropped my chemistry major & pre-medical concentration and pursued a CS major instead.
                    </p>
                    <br />
                    <p>
                        Over the past four years of my undergraduate studies, I have had the opportunity to work at amazing companies such as
                        Microsoft, Honda, UnitedHealth Group, and Heroku.
                    </p>
                    <br />
                    <p>
                        In my free time, I enjoy baking, hiking, building out side-projects, working out, and tutoring.
                    </p>
                    <div local-lass="about-btn">
                        <a href="/experience">
                            View My Experience
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>