<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>
                When I'm Off The
                {{svg-jar 'time-heading' width='60px' height='60px'}}
            </h1>
            <p class="lead text-muted">
                Whether its Youtube videos on data structures, tech articles I published on Medium or some personal
                projects here are a couple of things I'm proud of
            </p>
            <p>
                <a
                    href="https://github.com/Nathan-Patnam"
                    rel="noopener"
                    target="_blank"
                    role="button"
                    class="btn btn-primary my-2"
                >
                    GitHub
                </a>
                <a
                    href="https://www.linkedin.com/in/nathan-patnam/"
                    rel="noopener"
                    target="_blank"
                    role="button"
                    class="btn btn-secondary my-2"
                >
                    Linkedin
                </a>
            </p>
        </div>
    </section>
    {{filtered-projects}}
</main>