<div class="container">
    <div class="row">
        <div class="col-lg-5 mr-5">
            <img
                src="img/experience/tutoring.png"
                class="img img-fluid"
                alt="man teaching about E=MC^2 formula on whiteboard"
             />

            <h2>
                Tutoring
            </h2>
            <p>
                I tutor many subjects online/in-person from HTML, CSS, JavaScript, Python, Numpy & Pandas, Java, MySQL, and GraphQL.
            </p>
            <p>
                <a
                    class="btn btn-secondary"
                    href="https://www.wyzant.com/Tutors/TutoringByNathan8"
                    role="button"
                    rel="noopener"
                    target="_blank"
                >
                    View My Tutoring Profile
                </a>
            </p>
        </div>
        <div class="col-lg-5 ml-5">
            <img
                src="img/experience/freelance-icon.jpg"
                class="img img-fluid"
                alt="person doing work on computer"
             />

            <h2>
                Remote Work
            </h2>
            <p>
                From building applications using Python or Java to creating web apps with Ember and other front-end framworks I'm always
                free to discuess projects.
            </p>
            <p>
                <a
                    class="btn btn-secondary"
                    href="mailto:nathanpatnam@hotmail.com"
                    role="button"
                >
                    Contact Me
                </a>
            </p>
        </div>
    </div>
</div>
{{reviews}}