<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img
                src="img/experience/tutoring.png"
                class="img img-fluid"
                alt="man teaching about E=MC^2 formula on whiteboard"
             />

            <h2>
                Tutoring
            </h2>
            <p>
                I tutor many subjects online/in-person from HTML, CSS, JavaScript, Python, Numpy & Pandas, Java, MySQL, and GraphQL.
            </p>
            <a
                href="https://www.wyzant.com/Tutors/TutoringByNathan8"
                class="btn btn-outline-info"
                role="button"
                rel="noopener"
                target="_blank"
            >
                View Tutoring Profile
            </a>
        </div>
        <div class="col-lg-6">
            <img
                src="img/experience/freelance-icon.jpg"
                class="img img-fluid"
                alt="person doing work on computer"
             />

            <h2>
                Remote Work
            </h2>
            <p>
                From building applications using Python or Java to creating web apps with Ember and other front-end framworks I'm always
                free to discuess projects.
            </p>
            <a
                class="btn btn-outline-info"
                href="mailto:nathanpatnam@hotmail.com"
                role="button"
                rel="noopener"
                target="_blank"
            >
                Contact Me
            </a>
        </div>
    </div>
</div>
{{reviews}}