<div class="container">
    <div class="row">
        <div class="col-lg-6 my-3">
            <img
                src="img/experience/tutoring.png"
                class="img img-fluid"
                alt="man teaching about E=MC^2 formula on whiteboard"
             />

            <h1 class="text-center">
                Tutoring
            </h1>
            <p>
                I have tutored for hundreds of hours online & in-person. From high school kids needing help with AP Computer Science, going over technical review prep I tutor it all. The languages I tutor in are data structures & algorithms interview prep (Python and Java), Web Development (HTML, CSS, JavaScript, Bootstrap) or data analytics (Pands & Numpy).
            </p>
            <div class="text-center">
                <a
                    href="https://www.wyzant.com/Tutors/TutoringByNathan8"
                    class="btn btn-outline-info btn-lg"
                    role="button"
                    rel="noopener"
                    target="_blank"
                >
                    View Tutoring Profile
                </a>
            </div>
        </div>
        <div class="col-lg-6 my-3">
            <img
                src="img/experience/freelance-icon.jpg"
                class="img img-fluid"
                alt="person doing work on computer"
             />

            <h1 class="text-center">
                Remote Work
            </h1>
            <p>
                Over the years, I have created full-stack applications for employers and private-clients, ranging from building
                React-Native apps to prototype new user experiences to creating Python cloud-based microservices to build full-stack
                applications. I am always available to talk about business opportunities. My contact information is below.
            </p>
            <div class="text-center">
                <a
                    class="btn btn-outline-info btn-lg"
                    href="mailto:nathanpatnam@hotmail.com"
                    role="button"
                    rel="noopener"
                    target="_blank"
                >
                    Contact Me
                </a>
            </div>
        </div>
    </div>
</div>
{{reviews}}