<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="img/experience/tutoring.png" class="img img-fluid" />
            <h2>
                Tutoring
            </h2>
            <p>
                From building applications using Python or Java to creating web apps with Ember and other front-end framworks I'm
                    always free to discuess projects.
            </p>
            <p>
                <a
                    class="btn btn-secondary"
                    href="mailto:nathanpatnam@hotmail.com"
                    role="button"
                >
                    Contact Me
                </a>
            </p>
        </div>
        <div class="col-lg-6">
            <img
                src="img/experience/freelance-icon.jpg"
                class="img img-fluid"
             />

            <h2>
                Remote Work
            </h2>
            <p>
                From building applications using Python or Java to creating web apps with Ember and other front-end framworks I'm always free to discuess projects.
            </p>
            <p>
                <a
                    class="btn btn-secondary"
                    href="mailto:nathanpatnam@hotmail.com"
                    role="button"
                >
                    Contact Me
                </a>
            </p>
        </div>
    </div>
</div>
{{reviews}}